socket_port=8080 # Port d'écoute
max_messages=100 # Nombre maxi de messages
max_message_size=1000 # Taille maxi d'un message (en caractères)
max_requests_per_minute=12 # Nombre de requêtes maxi par minute
max_requests_per_hour=90 # Nombre de requêtes maxi par heure
admin_api_key=tchatator_FNOC_TO_THE_TOP # Clé d'API d'administration
max_pending_connections=10 # Nombre de connexions en file d'attente
db_host= # Nom d'hôte de la bdd
db_port= # Port de connexion à la bdd
db_name= # Nom de la bdd
db_user= # Nom d'utilisateur à la bdd
db_password= # Mot de passe de l'utilisateur
fichier_logs=tchatator.log # Fichier de logs
taille_bloc=20 # Taille des blocs de messages (peut être changée)
200=OK
204=NO CONTENT
401=UNAUTHORIZED
403=FORBIDDEN
404=NOT FOUND
409=CONFLICT
413=PAYLOAD TOO LARGE
416=RANGE NOT SATISFIABLE
429=TOO MANY REQUESTS
500=INTERNAL SERVER ERROR
501=NOT IMPLEMENTED